body{
    background-color: #c4b7a6;
}

h1{
  text-align: center;
  font-size: 100px;
  color: #b9936c;
  text-shadow: 5.5px 0px black;
  letter-spacing: 4px;
  font-family: 'Josefin Slab', serif;
  font-style: italic;
  text-decoration: overline underline;
  text-decoration-color: black;
}

h2{
  text-align: center;
  font-size: 50px;
  color: #b9936c;
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
}

p{
  position: relative;
  text-align: center;
}

.transition{
  margin-left: 45%;
  margin-right: 45%;
  text-align: center;
  width: 10%;
  height: 10%;
  background: #b9936c;
  transition: width 2s;
  -webkit-transition: width 2s ease-out;
  padding: 5px;
}

.transition:hover{
  width: 20%;
  transition: scale(2);
  margin: auto;
}

.container0{
  position: relative;
  text-align: center;
  margin: 15px;
}


.temp {
  font-family: 'Josefin Slab', serif;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  color: black;
  padding: inherit;
  padding-top: 30px;
  margin-left: 40%;
  position: absolute;
}


.state_info {
  position: fixed;
  display: none;
}

/* unvisited link */
a:link {
    color: #c4b7a6;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: #dac292;
}

/* selected link */
a:active {
    color: #e6e2d3;
}

#map{
  padding-top: 40px;
}

span{
  color: red;
}

.state {
  fill: #b9936c;

}

.state:hover {
  fill: black;
}
