body {
  background-color: #c4b7a6;
}

#bttv {
  position: absolute;
  display: block;
  margin-right: auto;
  width: 40%;
  position: absolute;
  line-height: 2.5vw;
  /* display: inline-block; */
  font-family: 'Josefin Slab', serif;
  margin-left: 10vw;
  margin-top: 1%;
  text-align: left;
}

#mt {
  position: absolute;
  display: block;
  margin-right: auto;
  width: 40%;
  position: absolute;
  line-height: 2.5vw;
  /* display: inline-block; */
  font-family: 'Josefin Slab', serif;
  margin-left: 50vw;
  margin-top: 35%;
  text-align: left;
}

#mf{
  position: absolute;
  display: block;
  margin-right: auto;
  width: 40%;
  position: absolute;
  line-height: 2.5vw;
  /* display: inline-block; */
  font-family: 'Josefin Slab', serif;
  margin-left: 10vw;
  margin-top: 58%;
  text-align: left;
}

#mab{
  position: absolute;
  display: block;
  margin-right: auto;
  width: 40%;
  position: absolute;
  line-height: 2.5vw;
  /* display: inline-block; */
  font-family: 'Josefin Slab', serif;
  margin-left: 50vw;
  margin-top: 95%;
  text-align: left;
}

#href{
  position: absolute;
  display: block;
  margin-right: auto;
  width: 40%;
  position: absolute;
  line-height: 2.5vw;
  /* display: inline-block; */
  font-family: 'Josefin Slab', serif;
  margin-left: 10vw;
  margin-top: 127%;
  text-align: left;
  font-size: 1.8vw;
}

h1 {
  font-family: 'Josefin Slab', serif;
  text-align: center;
  font-size: 5vw;
  color: #b9936c;
  text-shadow: 5.5px 0px black;
  letter-spacing: 4px;
  font-style: italic;
  text-decoration: overline underline;
  text-decoration-color: black;
}

h3 {
  font-family: 'Josefin Slab', serif;
  font-size: 1.8vw;
  text-decoration: underline;
}

p {
  font-family: 'Josefin Slab', serif;
  font-size: 1.3vw;
}

ul {
  font-family: 'Josefin Slab', serif;
  font-size: 1.3vw;
}

strong {
  font-family: 'Josefin Slab', serif;
  font-size: 1.3vw;
}

:visited{
  color: #b9936c;
}
