body {
  width: 100%;
  height: 100%;
  background-color: #c4b7a6;
  position: relative;
}

h1{
  text-align: center;
  font-size: 100px;
  color: #b9936c;
  text-shadow: 5.5px 0px black;
  letter-spacing: 4px;
  font-family: 'Josefin Slab', serif;
  font-style: italic;
  text-decoration: overline underline;
  text-decoration-color: black;
}

#bodyPost{
  font-size: 20pt;
  line-height: 40px;
  display: inline-block;
  font-family: 'Josefin Slab', serif;
  margin-left: 300px;
  margin-right: 750px;
  margin-top: 50px;
  text-align: left;
}

#image{
  margin-left: 950px;
  margin-right: 100px;
  margin-top: 0px;
  display: inline-block;
}

#image1{
  top: 800px;
  left: 600px;
}

#image2{
  top: 65px;
  left: 1660px;
}

#image3{
  top: 65px;
  left: 210px;
}

#image4{
  top: 380px;
  left: 1330px;
  width: 18%;
}

.draggable {
	position: absolute;
	transform: translate(-50%, -50%);
}

:visited{
  color: #b9936c;
}

/* #earth{
}

#plane1{
  animation: spin-right 20s linear infinite;
}

#plane2{


}

#plane3{

} */
