body {
  /* width: 100%;
  height: 100%; */
  background-color: #c4b7a6;
  position:relative;
}

h1{
  display:block;
  margin-left:auto;
  margin-right: auto;
  width: 100%;
  position: absolute;
  text-align: center;
  font-size: 5vw;
  color: #b9936c;
  /* margin: auto;
  width: 50%;
  padding: 10px; */
  text-shadow: 5.5px 0px black;
  letter-spacing: 4px;
  font-family: 'Josefin Slab', serif;
  font-style: italic;
  text-decoration: overline underline;
  text-decoration-color: black;
}

#bodyPost{
  position:absolute;
  display:block;
  margin-right: auto;
  width: 50%;
  position: absolute;
  font-size: 1.5vw;
  line-height: 40px;
  /* display: inline-block; */
  font-family: 'Josefin Slab', serif;
  margin-left: 17vw;
  margin-top: 10%;
  text-align: left;
}

#image{
  position: absolute;
  right: 10vw;
  margin-top: 30%;
  display: inline-block;
  width:40vw;
}



#top{
  position: relative;
  width: 95vw;
  height: auto;
  text-align: center;
}

#image2{
  top: -100px;
  width: 30vw;
  right: -7vw;
  position: absolute;
}

#image3{
  top: -100px;
  width: 40vw;
  left: -11vw;
  position: absolute;
}


#image1{
  top: 350px;
  left: 8vw;
  width: 50vw;
  position: absolute;
}

#image4{
  top: 200px;
  right: 12vw;
  width: 20vw;
  position: absolute;
}

.draggable {
	position: absolute;
	/* transform: translate(-50%, -50%); */
}

:visited{
  color: #b9936c;
}



@media (max-width: 500px),
    (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2),
    (max-width: 1000px) and (min-resolution: 144dpi)
    {

#bodyPost{
  font-size: 2vw;
}

#image{
  right: 5vw;
  top: 250px;
  display: inline-block;
  width: 25vw;
}

#image1{
  width: 20vw;
  top: 450px;
}

#image2{
  top: 0px;
  width: 30vw;
}

#image3{
  top: 0px;
  width: 35vw;
}

h1{
  color: black;
  text-shadow: none;
}

}
