*{box-sizing:border-box;}

body{
  margin:0;
}

header{
  padding: 50px;
  background-color: green;
  display:flex;
  justify-content: flex-end;
}

.header-items{
  width: 100px;
  height: 20px;
  flex: 0 1 auto;
  height: 20px;
  background-color: lawngreen;
  margin-right: 20px;
}

.header-items:last-child{
  margin-right: 0;
}

main{
  padding: 50px;
  background-color: yellow;
}

.container{
  padding: 25px;
  background-color: orange;
  display: flex;
  flex-wrap: wrap;
}

.container-item-outer{
  /* border: 1px solid black; */
  /* flex-basis: 33.333%;
  flex-grow: 0;
  flex-shrink: 0; */
  flex: 0 0 33.333%;
  padding: 25px;
}

.container-item-inner{
  padding-bottom: 100%;
  background-color: orangered;
}

.circle{
  border-radius: 50%;
}

.double{
  flex-basis: 66.666%;
}

.double .container-item-inner{
  padding-bottom: calc(50% - 25px);
}

.stacked:first-child{
  background-color: darkorange;
}

.stacked{
  padding-bottom: 50%;
}

.triple{
  flex-basis: 100%;
}

.triple .container-item-inner{
  padding-bottom: calc(33.333% - 25px;)
}

/* .container-item-outer{
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 33.333%;
  padding: 25px;
  background-color: blue;
} */
