h1{
  text-align: center;
  font-size: 60px;
  color: #b9936c;
  text-shadow: 3.5px 0px black;
  letter-spacing: 3px;
}

h2{
  text-align: center;
  font-size: 30px;
  color: #b9936c;
}

p{
  position: relative;
  text-align: center;
}

.transition{
  margin-left: 45%;
  margin-right: 45%;
  text-align: center;
  width: 10%;
  height: 10%;
  background: #b9936c;
  transition: width 2s;
  -webkit-transition: width 2s ease-out;
  padding: 5px;
}

.transition:hover{
  width: 20%;
  transition: scale(2);
}

.container0{
  position: relative;
  text-align: center;
  margin: 15px;
}

.container1{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-left: 6.5%;}

.circle{
  width:300px;
  height:300px;
  border-style:dotted;
  margin:50px;
  border-radius:50%;
}

.text{
  padding-top: 140px;
}

#map {
  width: 1240px;
  height: 840px;
  margin: auto;
}

#NY {
  /* move this around for each state */
  width: 100px;
  height: 200px;
  top: 0;
  right: 0;
}

#FL {
  /* move this around for each state */
  width: 100px;
  height: 200px;
  top: 0;
  right: 0;
}

#MA {
  /* move this around for each state */
  width: 100px;
  height: 200px;
  top: 0;
  right: 0;
}

#DC {
  /* move this around for each state */
  width: 100px;
  height: 200px;
  top: 0;
  right: 0;
}

#LA {
  /* move this around for each state */
  width: 100px;
  height: 200px;
  top: 0;
  right: 0;
}

.state_info {
  position: fixed;
  display: none;
}
