h1{
  position: relative;
  text-align: center;
}

p{
  position: relative;
  text-align: center;
}

.box{
  border-style: dotted;
  width: 400px;
  margin-left: 35.5%;
}

.container0{
  position: relative;
  text-align: center;
  margin: 15px;
}

.container1{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-left: 6.5%;}

.circle{
  width:300px;
  height:300px;
  border-style:dotted;
  margin:50px;
  border-radius:50%;
}

.text{
  padding-top: 140px;
}

img {width: 100%; height: 100%}
img {margin-bottom: 15px;}
