body {
  background-color: #c4b7a6;
}

#bttv {
  position: absolute;
  display: block;
  margin-right: auto;
  width: 40%;
  position: absolute;
  line-height: 2.5vw;
  /* display: inline-block; */
  font-family: 'Josefin Slab', serif;
  margin-left: 10vw;
  margin-top: 1vh;
  text-align: left;
}

.container {
    position: relative;
    max-width: 800vw;
    margin-left: 10vw;
}

.container img {
  height: 80vh;
}

.container .content {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    color: #f1f1f1;
    width: 30vw;
    height: 80vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

#mt {
  position: absolute;
  display: block;
  margin-right: auto;
  width: 40%;
  position: absolute;
  line-height: 2.5vw;
  /* display: inline-block; */
  font-family: 'Josefin Slab', serif;
  margin-left: 43vw;
  margin-top: 85vh;
  text-align: left;
}

#mf{
  position: absolute;
  display: block;
  margin-right: auto;
  width: 40%;
  position: absolute;
  line-height: 2.5vw;
  /* display: inline-block; */
  font-family: 'Josefin Slab', serif;
  margin-left: 10vw;
  margin-top: 127vh;
  text-align: left;
}

.container1 {
    position: relative;
    max-width: 800vw;
    margin-left: 10vw;
    margin-top: 72%;
}

.container1 video {
  height: 80vh;
}

.container1 .content1 {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    color: #f1f1f1;
    width: 30vw;
    height: 80vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

#mab{
  position: absolute;
  display: block;
  margin-right: auto;
  width: 40%;
  position: absolute;
  line-height: 2.5vw;
  /* display: inline-block; */
  font-family: 'Josefin Slab', serif;
  margin-left: 43vw;
  margin-top: 212vh;
  text-align: left;
}

#href{
  position: absolute;
  display: block;
  margin-right: auto;
  width: 40%;
  position: absolute;
  line-height: 2.5vw;
  /* display: inline-block; */
  font-family: 'Josefin Slab', serif;
  margin-left: 10vw;
  margin-top: 245vh;
  text-align: left;
  font-size: 1.8vw;
  padding-bottom: 10px;
}

h1 {
  font-family: 'Josefin Slab', serif;
  text-align: center;
  font-size: 5vw;
  color: #b9936c;
  text-shadow: 5.5px 0px black;
  letter-spacing: 4px;
  font-style: italic;
  text-decoration: overline underline;
  text-decoration-color: black;
}

h3 {
  font-family: 'Josefin Slab', serif;
  font-size: 1.8vw;
  text-decoration: underline;
}

p {
  font-family: 'Josefin Slab', serif;
  font-size: 1.3vw;
}

ul {
  font-family: 'Josefin Slab', serif;
  font-size: 1.3vw;
}

li{
  font-family: 'Josefin Slab', serif;
  font-size: 1.3vw;
}

strong {
  font-family: 'Josefin Slab', serif;
  font-size: 1.3vw;
}

:visited{
  color: #b9936c;
}




@media (max-width: 500px),
    (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2),
    (max-width: 1000px) and (min-resolution: 144dpi){

  .container img {
    height: 26vh;
  }

  .container .content {
      height: 26vh;
  }

  #mt{
    margin-top: 29.5vh;
  }

  .container1 video {
    height: 26vh;
  }

  .container1 .content1 {
      height: 26vh;
  }

  #mf{
    margin-top: 44vh;
  }

  #mab{
    margin-top: 72vh;
  }

  #href{
    margin-top: 84vh;
    padding-bottom: 10px;
  }

  h1 {
    color: black;
    text-shadow: none;
  }



}
